<back-head></back-head>
<form action="" method="post">
	<label for="account">精品集账号</label>
	<input type="text" name="" id="account" ng-model='account' placeholder="输入用户名/邮箱/手机号"/>
	<label for="password">密码</label>
	<input type="password" name="" id="password" ng-model='password' placeholder="输入密码"/>
	<input type="button" value="登录" ng-click='login()'/>
</form>
<div class="clear login-way">
	<a href="" class="fl" ui-sref="loginWithoutPassword">免密登录</a>
	<a href="" class="fr" ui-sref="register">注册账号</a>
</div>