#fpw{padding-top: 1.333333rem;}
#fpw input{margin:0 auto;width: 80%;height: 1.333333rem;line-height:1.333333rem;border: 0;text-align: center;display: block;}
#fpw input[type='text']{border-bottom: 0.026666rem solid #E5E5E5;font-size: 0.666666rem;}
#fpw input[type='button']{margin-top:0.666666rem;color: #FFFFFF;font-size: 0.4rem;background: #ff1877;border-radius: 0.133333rem;}


